* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


 .video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
     


h1 {
    font-size: 40px;
    display: inline-block;
    margin-right: 5px;
    
}

.container {
    background: white;
    padding: 24px;
    border-radius: 12px;
    width: 600px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin: 250px 500px 0px 600px 
}

input {
    width: 300px;
    height: 50px;
    background-color: #F0FFF0;
    border-radius: 10px;
    margin: 80px 0px 40px 0px;
}

.strength {
    margin-bottom: 30px;
    height: 12px;
    background: #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.bar {
    height: 100%;
    width: 0%;
    background: red;
    transition: 0.3s;
    border-radius: 100px;
}

.message {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 30px;
    
}

#password {
    font-size: 20px;
    text-align: center;
    
}

#botaoSenha {
  font-size: 20px;
  width: 20px;
  height: 50px;
  margin-left: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.dicas-senha {
    margin: 0px 0px 20px 0px;
    font-style: italic;
}
